.logo-container {
    width: 100%;
    margin: 0;
}

#home {
    border-color: red;
}

#header-container {
    width: 100%;
}

#top-header-container {
    width: 100%;
    height: 100px;
    background-color: var(--lilac-fog);
}

#top-container {
    transition: top 2s ease-in-out 0s;
}

.reveal #top-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: top 0.275s ease-in-out 0s;
}

#logo-header-container {
    margin-top: -35px;
    height: 100px;
    z-index: 2;
    position: relative;
    display: flex;
}

#page-overlay {
    height: 0px;
    background-color: var(--lilac-fog);
    width: calc(100vw - 70px);
    z-index: 1;
    top: 100px;
    left: 0px;
    position: absolute;
    transition: height 0.275s ease-in-out 0s;
    overflow: scroll;
    padding: 0px 35px;
}

.reveal #page-overlay {
    position: fixed;
    height: calc(100vh - 100px);
    transition: height 0.275s ease-in-out 0s;
}

.logo {
    width: 100vw;
    margin: auto;
}

.custom-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    width: auto;
    height: auto;
    z-index: 9999;
}

.test {
    border-style: solid;
}

@media (orientation: portrait) {
    #search-form-container {
        position: absolute;
        bottom: 0px;
    }
}

#search-form-container {
    margin-bottom: 100px;
}

#search-text {
    height: 38px;
    font-size: 2em;
}

#typed-container {
    margin-right: -55px;
}

#all-blogposts-container {
    text-align: center;
    margin: 45px 0px 15px;
}

#video-reel-container,
#newsletter-footer-container
#prefooter-container {
    padding-top: 15px;
}