#header-container.small {
	background-color: var(--powder-violet-color);
	min-width: 200px;
	max-width: 300px;
	width: 15vw;
	height: auto;

}

#header-container {
    background-color: var(--powder-violet-color);
    height: 100vh;
	width: 30vw;
	position: fixed;
	max-width: 576px;
	max-height: 1080px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

@media (min-width: 1920px) {
	#header-container {
		margin-left: calc(50vw - 960px);
	}
}

#top-container {
	height: 150px;
}

#middle-container {
	flex: 2 1 auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	max-height: calc(70vh - 150px);
}

#top-header-container {
    display: inline-block;
    max-width: 40%;
    max-height: 75px;
}

.custom-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 65px;
	width: auto;
	height: auto;
	z-index: 9999;
}

#header-container.small #menu-header-container {
    margin-top: 10px;
    font-size: 2em;
}

#page-overlay {
    padding: 0px 20px;
}

#search-form-container {
    margin-top: 23px;
    margin-bottom: 15px;
    width: 100%;
}

#searchform {
	width: 100%;
	max-width: 250px;
}

.small #search-text {
	font-size: 10px;
}

#search-text {
	font-size: 2em;
	height: 30px;
}

#menu-header-container {
	font-size: 3em;
	margin-top: 0px;
}

@media (min-width: 1920px) {
	#menu-header-container {
		font-size: 45px;
	}
}

#header-container.small .menu-item {
	display: list-item;
}

.menu-item {
	display: inline;
	/* margin-right: -10px; */
}

#newsletter-container {
	display: block;
	margin: 0px 10px 10px;
	font-family: 'PMNCaecilia', sans-serif;
	font-size: 10px;
}

#newsletter-container > div {
	border: 2px dotted black;
	padding: 10px;
}

#newsletter-container input {
	border: 1px var(--pastel-pink-color) solid;
    font-family: 'Realtime-Semibold';
    height: 25px;
    padding-left: 10px;
}

.mc4wp-form-fields {
	text-align: center;
}

#newsletter-widget {
	background-color: #fff;
}

#newsletter-widget h1 {
	text-align: center;
}

.privacypolicy {
	display: flex;
	text-align: left;
}

.small #newsletter-container, .small #header-hero-container {
	display: none;
}

#header-hero-container {
	background-color: var(--pastel-pink-color);
	margin-top: 0px;
}

.hero-header-widget {
	padding: 15px;
}

@media (min-width: 1920px) {
	.hero-header-widget {
		font-size: 35px;
	}
}

.widget_text {
	max-width: 50%;
	flex: 2;
}

.subtitle {
	display: none;
}