#header-hero-container .hero-header-widget:last-child {
    margin-left: 15px;
}

#header-hero-container {
    align-items: center;
    margin-top: 15px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row-reverse nowrap;
    margin-bottom: 20px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    #header-hero-container {
        margin: 15px 0px 0px;
        max-width: none;
        flex-flow: row nowrap;
    }

    .first {
        border: 2.5px var(--lilac-fog) solid;
    }
}