.post-container {
    width: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px #EEEEEE solid;
    background-size: contain;
    position: relative;
    font-family: 'Realtime-Semibold';
	background-color: white;
}

.post-container a {
    color: black;
    text-decoration: none;
}

.post-container h5 {
    font-size: 12px;
    margin: 30px 0px -10px;
    text-align: center;
}

.post-container .patreon-tag {
    background-color: var(--egg-yolk);
    padding: 5px;
}

.card-thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

.category-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 272.5px;
    left: 125px;
}

.card-title {
    font-size: 18px;
    text-align: center;
    padding: 0px 15px;
    margin: 25px 0px 15px;
}

.is-patreon {
    border: 2.5px var(--egg-yolk) solid;
}

.post-container.first .read-this {
    display: none;
}

@media (min-width: 1024px) {
    .post-container {
        margin: 20px!important;
    }

    .post-container:hover {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        transform: scale(1.03);
    }
    
    .post-container.first {
        width: 640px;
        margin: auto;
    }

    .post-container.first h5 {
        margin-top: 10px;
    }

    .post-container.first .card-title {
        padding: 0px 100px;
    }

    .post-container.first .read-this {
        font-family: 'Realtime-Semibold';
        font-size: 15px;
        letter-spacing: 3px;
        border: 1px var(--lilac-fog) solid;
        background-size: 300% auto;
        background-position: 100%;
        background-image: linear-gradient(to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
        transition: background-position 0.5s;
        padding: 5px 15px;
        position: relative;
        top: 7.5px;
        left: 250px;
        display: inline-block;
    }

    .post-container.first:hover .read-this {
        background-position: 0%;
        color: white;
    }
    
    .first .card-thumbnail {
        width: 100%;
        height: 380px;
        margin-bottom: -50px
    }

    .first .category-icon {
        width: 100px;
        height: 100px;
        position: relative;
        left: 270px;
    }

    .card-thumbnail {
        margin-bottom: -25px;
    }

    .category-icon {
        position: relative;
        top: 0;
        left: 125px;
    }
}