@import url("//hello.myfonts.net/count/3a55ac");

$font-path: "./scss/webfonts" !default;
  
@font-face {font-family: 'Realtime-Semibold';src: url('#{$font-path}/3A55AC_0_0.eot');src: url('#{$font-path}/3A55AC_0_0.eot?#iefix') format('embedded-opentype'),url('#{$font-path}/3A55AC_0_0.woff2') format('woff2'),url('#{$font-path}/3A55AC_0_0.woff') format('woff'),url('#{$font-path}/3A55AC_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CaeciliaLTStd-Italic';src: url('#{$font-path}/3A55AC_1_0.eot');src: url('#{$font-path}/3A55AC_1_0.eot?#iefix') format('embedded-opentype'),url('#{$font-path}/3A55AC_1_0.woff2') format('woff2'),url('#{$font-path}/3A55AC_1_0.woff') format('woff'),url('#{$font-path}/3A55AC_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CaeciliaLTPro-55Roman';src: url('#{$font-path}/3A55AC_2_0.eot');src: url('#{$font-path}/3A55AC_2_0.eot?#iefix') format('embedded-opentype'),url('#{$font-path}/3A55AC_2_0.woff2') format('woff2'),url('#{$font-path}/3A55AC_2_0.woff') format('woff'),url('#{$font-path}/3A55AC_2_0.ttf') format('truetype');}
 