@mixin realtime-semibold($font_size: 15px) {
    // Inconsolata!!
    font-family: 'Realtime-Semibold', serif;
    font-size: $font_size;
}

@mixin caecilia($italic, $font_size: 15px) {
    @if $italic {
        font-family: 'CaeciliaLTStd-Italic', sans-serif;
    } @else {
        font-family: 'CaeciliaLTPro-55Roman', sans-serif;
    }
    font-size: $font_size;
}

@mixin charcoal {
    color: #101318;
}

@mixin ac-select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B6C2F1;
    min-height: 30px;
}

@mixin ac-tag($bg_color, $font_color) {
    margin: 0px auto 5px;
    display: inline-block;
    @include realtime-semibold;
    background-color: $bg_color;
    color: $font_color;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px;
    font-size: 10px;
}

@mixin ac-button($hover_color, $bg_options...) {
    @include realtime-semibold;
    letter-spacing: 3px;
    background-size: 300% auto;
    background-position: 100%;
    transition: background-position 0.5s;
    padding: 5px 15px;
    display: inline-block;
    background-image: linear-gradient($bg_options);

    &:hover {
        background-position: 0%;
        color: $hover_color;
    }
}

@mixin highlighted($box: -10px) {
    box-shadow: 0 $box 0 0 var(--egg-yolk) inset!important;
}

.woocommerce {
    padding-top: 15px;
}

.return-to-shop {
    margin-bottom: 50px;
    text-align: center;
}

.woocommerce-small.reveal .logo {
    background-color: var(--salmon);
}

.woocommerce-small {
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: var(--charcoal);
    }

    #page-overlay {
        background-color: var(--salmon);
    }

    #menu-header-container {
        display: none;
    }

    #shop-sidebar-container {
        margin-top: 100px;
        @include caecilia(true, 3em);
        font-weight: normal;
        font-style: normal;
        text-transform: lowercase;
        letter-spacing: 3px;
        // max-height: calc(100vh - 305px);
        // overflow: scroll;
    }

    .menu-container {
        list-style: none;
        padding: 15px 0px;
        margin: 0;
    }

    #product-sidebar-menu {
        border-top: 1px var(--vogue-red) dashed;
        border-bottom: 1px var(--vogue-red) dashed;
    }

    .menu-item a {
        color: black;

        &:focus {
            border-bottom: 2px white solid;
        }
    }

    #shop-bottom-sidebar-menu {
        font-size: 0.7em;
        text-align: center;
        padding-bottom: 0px;

        .menu-item {
            display: inline;
            margin-right: 10px;
            @include realtime-semibold(15px);
            letter-spacing: 1px;
        }
    }

    .cart-logo-container {
        text-align: center;

        .cart-link {
            @include ac-button(black, to left, white 0%, white 40%, var(--vogue-red) 50%);
            border: 2px var(--vogue-red) solid;
            margin: 0px auto 25px;
            text-transform: uppercase;    
        }
    }

    .shipping-from {
        @include realtime-semibold(15px);
        text-transform: lowercase;
        letter-spacing: 1px;
        color: var(--vogue-red);
        text-align: center;
        margin: 0px 0px 25px;
    }

    #search-form-container {
        margin-bottom: 25px;
    }

    .homepage-link {
        @include ac-button(white, to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
        border: 1px var(--lilac-fog) solid;
        margin: 0px auto 25px;
        text-transform: lowercase;
        display: block;
        text-align: center;
    }
}

#shop-container .container-header-img,
#product-container .container-header-img,
#cart-container .container-header-img,
#checkout-container  .container-header-img {
    margin-top: 50px;
}

#body-container {
    background-color: white;
}

#shop-container {
    margin-top: 15px;
}

.woocommerce-small #top-header-container {
    background-color: var(--salmon)
}

.woocommerce-small .hamburger {
    background-color: var(--salmon);
}

.woocommerce-small .hamburger-inner,
.woocommerce-small .hamburger-inner::before,
.woocommerce-small .hamburger-inner::after {
    background-color: var(--charcoal);
}

.woocommerce-ordering {
    height: 50px;
}

.woocommerce-ordering select {
    @include realtime-semibold;
    @include charcoal;
    @include ac-select;
    float: right;
    margin: 15px;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
}

#shop-container .product {
    list-style: none;
    width: 150px;
    margin: 0px auto 25px;
    position: relative;
}

.product img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

#flash-container {
    display: flex;
    flex-flow: row wrap;
}

.onsale {
    @include ac-tag(var(--vogue-red), white);
}

.preorder {
    @include ac-tag(var(--egg-yolk), var(--charcoal));
}

.out {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--salmon);
    opacity: 75%;
}

.out span {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include realtime-semibold;
    border: 2px var(--charcoal) solid;
    padding: 10px;
    background-color: white;
}

.woocommerce-loop-product_link {
    min-width: 100%;
    max-width: 100%;
}

.woocommerce-loop-product__title {
    @include realtime-semibold;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.price {
    display: flex;
    flex-flow: row wrap;
    @include realtime-semibold;
    justify-content: center;
}

.price > del, .price > ins, .price > span {
    margin-right: 5px;
}

.price del {
    color: #B6C2F1;
}

.sale .price ins {
    color: var(--vogue-red);
    text-decoration: none;
}

.product .button {
    @include ac-button(white, to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
    border: 1px var(--lilac-fog) solid;
}

.added_to_cart {
    display: none;
}

.cart {
    width: 100%;
}

// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//     -webkit-appearance: none; 
//     margin: 0;
// }

.quantity-increment {
    background-color: white;
    border: none;
    color: var(--lilac-fog);
    font-size: 15px;
}

.qty {
    @include realtime-semibold(15px);
    border: 1px var(--lilac-fog) solid;
    width: 50px;
    text-align: center;
    padding: 5px;
}

.quantity-container {
    position: relative;
    width: 100%;
    height: 25px;
}

.add-cart-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.quantity {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-cart-container button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-cart-container, .quantity-container {
    margin-bottom: 15px;
}

// .quantity-increment:focus {
//     outline: none;
// }
// .woocommerce-message {
//     @include caecilia(true, 15px);
//     text-align: center;
//     color: var(--vogue-red);
// }

.woocommerce-form-coupon {
    @include realtime-semibold(15px);
    max-width: 300px;
    display: block;
    margin: 0px auto;
}

.woocommerce-NoticeGroup {
    width: 100%;
}

.woocommerce-notices-wrapper,
.woocommerce-form-coupon-toggle {
    background-color: var(--egg-yolk);
    @include realtime-semibold(10px);
    margin: 15px auto;
    display: block;
    max-width: 300px;

    .woocommerce-error,
    .woocommerce-message,
    .woocommerce-info {
        list-style: none;
        margin: 0;
        padding: 15px;
        color: var(--charcoal);

        li {
            background-image: none!important;
            padding: 0;
            margin: 0;
        }

        // .wc-forward {
        //     display: none;
        // }
    }
}

#product-container {
    .product {
        display: flex;
        flex-flow: row wrap;
        padding: 0px 20px;
        margin-bottom: 50px;
    }

    .product-img-gallery,
    .summary,
    .bottom-add-cart-container,
    .back-to-products {
        flex: 0 1 auto;
    }

    .product-img-gallery,
    .summary,
    .bottom-add-cart-container {
        min-width: 100%;
    }

    .summary {
        order: -1;
    }

    .wp-post-image {
        width: 100%;
        height: auto;
    }

    .product_title {
        text-align: center;
        margin-top: 0px;
        @include realtime-semibold(35px);
    }

    .woocommerce-product-details__short-description {
        @include caecilia(false);
        // @include realtime-semibold;
    }

    em {
        @include caecilia(true);
        font-style: normal;
    }

    .product ul {
        padding-left: 10%;
        margin: 0px 10%;
        list-style: none;
    }
    
    .product ul li {
        background-position: 0% 15%;
        background-repeat: no-repeat;
        background-size: 15px;
        padding-left: 25px;
        vertical-align: middle;
        margin-bottom: 30px;
        letter-spacing: 1px;
        @include caecilia(true);
    }

    .stock.in-stock {
        display: none;
    }

    .stock.out-of-stock {
        @include realtime-semibold;
        color: var(--vogue-red);
        display: block;
    }

    .woocommerce-product-gallery__wrapper {
        margin: 0;
    }

    .back-to-products {
        @include ac-button(black, to left, white 0%, white 40%, var(--vogue-red) 50%);
        border: 2px var(--vogue-red) solid;
        font-size: 10px;
        margin: 0px auto 25px;
        text-transform: uppercase;
    }
}

#cart-container {
    .shop_table {
        @include realtime-semibold(12px);
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px;
    }

    th {
        padding: 5px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .cart_item td {
        padding: 5px 0px;
    }

    td.product-remove {
        width: 20px;
        text-align: center;
        font-size: 20px;
        padding-right: 10px;
    }

    a.remove {
        color: var(--salmon);
        font-size: 30px;
    }

    td.product-thumbnail {
        img {
            width: 50px;
            height: auto;
        }
    }

    td.product-name {
        padding-left: 5px;
    }

    td.product-quantity {
        position: relative;
        .quantity-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 0;
        }

        .qty {
            width: 2em;
        }
    }

    td.product-subtotal {
        position: relative;
        .amount {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 0;
        }
    }

    .coupon {
        display: flex;
        justify-content: center;
        border-top: 1px var(--salmon) dashed;
        padding-top: 15px;

        #coupon_code, .button {
            flex: 0 1 auto;
        }

        .button {
            margin-left: 15px;
        }
    }

    #update_button {
        margin-left: calc(50% - 75px);
        margin-right: calc(50% - 75px);
        margin-bottom: 15px;
        width: 150px;
    }

    #coupon_code {
        @include realtime-semibold(12px);
        text-transform: uppercase;
        padding: 5px 0px 5px 15px;
        border: 1px var(--lilac-fog) solid;
        width: 150px;
        letter-spacing: 1px;
    }

    .button {
        @include ac-button(white, to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
        border: 2px var(--lilac-fog) solid;
        text-transform: uppercase;
    }

    .cart-collaterals {
        &::after {
            content: "";
            clear: both;
            display: table;
        }
    }

    .cart_totals {
        background-color: var(--lilac-fog);
        max-width: 400px;
        min-height: 400px;
        margin: 15px;
        padding: 15px;
        float: right;

        th, td {
            vertical-align: top;
            padding: 10px 0px 0px;
            text-align: left;
        }

        h2 {
            text-align: center;
            @include caecilia(true, 25px);
            letter-spacing: 4px;
            text-transform: lowercase;
            color: white;
            font-weight: 100;
        }

        .woo_pp_cart_buttons_div {
            margin-top: 15px;
        }

        .wcppec-checkout-buttons__separator {
            @include caecilia(true,12px);
            font-weight: 100;
            text-transform: uppercase;
        }

        th {
            color: white;
        }

        td {
            padding-left: 10px;
        }

        #shipping_method {
            margin: 0;
            padding: 0;
        }

        .shipping-calculator-button {
            text-transform: uppercase;
        }

        .order-total {
            font-size: 18px;
        }

        .wc-proceed-to-checkout {
            text-align: center;
            margin-top: 20px;
        }

        .button {
            @include ac-button(white, to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
            border: 1px var(--lilac-fog) solid;
        }

        .input-text {
            @include realtime-semibold(15px);
            padding-left: 15px;
        }

        li {
            background-image: none!important;
            list-style: none;
        }

        .woocommerce-remove-coupon,
        .shipping-calculator-button {
            @include highlighted(-5px);
        }
    }
    
    .cart-empty {
        text-align: center;
        @include realtime-semibold(25px);
    }
}

#checkout-container {
    .woocommerce-checkout {
        display: flex;
        flex-flow: row wrap;
        background-color: #FCFCFC;
    }

    .woocommerce > ul.woocommerce-error,
    .woocommerce-NoticeGroup > ul.woocommerce-error {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background-image: none;
            text-align: center;
            @include realtime-semibold(15px);
            color: red;
        }
    }

    #customer_details, #order_review {
        flex: 1 0 40%;
        margin: 15px;
        padding: 15px;
    }

    h3#ship-to-different-address {
        font-size: 12px;

        label {
            color: black;
            letter-spacing: 1px;
        }
    }

    #order_comments_field {
        @include realtime-semibold(12px);
        text-transform: uppercase;
    }

    .woocommerce-billing-fields h3,
    #order_review_heading,
    #payment h3 {
        @include caecilia(true, 25px);
        text-align: center;
        letter-spacing: 4px;
        text-transform: lowercase;
        font-weight: 100;
    }

    #payment {
        h3 {
            font-size: 15px;
            padding-top: 15px;
            text-align: center;
        }

        .wc_payment_methods {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .wc_payment_methods li {
            background-image: none;
        }

        .wc_payment_method label {
            font-size: 20px;
        }

        .payment_box p {
            @include realtime-semibold(12px);
            line-height: 20px;
            text-transform: uppercase;
        }
    }


    .input-text {
        @include realtime-semibold(15px);
        border: 1px var(--salmon) solid;
        text-align: left;
        padding: 5px;
        width: 100%;
    }

    .woocommerce-billing-fields label,
    .woocommerce-shipping-fields label {
        @include realtime-semibold(15px);
        color: #BBBCD0;
        text-transform: uppercase;
    }

    textarea.input-text {
        font-size: 12px;
        text-align: left;
        min-height: 40px;
    }

    .shop_table {
        @include realtime-semibold(12px);
        width: 100%;
        box-sizing: border-box;
        padding: 10px 15px;
        table-layout: fixed;
        border-collapse: collapse;
    }

    th {
        padding: 5px 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    th.product-name {
        text-align: left;
    }

    .cart_item td {
        padding: 10px 0px;
    }

    .cart_item td.product-total {
        text-align: center;
    }

    .cart-subtotal th,
    .cart-subtotal td {
        border-top: 1px var(--salmon) dashed;
        padding-top: 20px;
    }

    .cart-subtotal th,
    .woocommerce-shipping-totals th,
    .order-total th {
        text-align: left;
        max-width: 5px;
    }

    .cart-subtotal th,
    .woocommerce-shipping-totals th {
        font-weight: 100;
    }

    .cart-subtotal td {
        text-align: center;
    }

    #shipping_method {
        margin: 15px 5px 0px;
        padding: 0;
        
        li {
            background-image: none!important;
            list-style: none;
            margin: 0px!important;
            padding: 0px!important;
            font-size: 12px!important;
        }
    }

    .woocommerce-shipping-totals th,
    .woocommerce-shipping-totals td {
        padding-bottom: 15px;
    }

    .order-total th,
    .order-total td {
        padding-top: 20px;
        background-color: var(--lilac-fog);
        color: white;
        font-size: 18px;
        padding: 10px;
    }

    .order-total td {
        text-align: center;
    }

    .woocommerce-privacy-policy-text p {
        font-size: 12px;
        text-align: center;
        line-height: 20px;
    }

    .button {
        @include ac-button(white, to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
        border: 2px var(--lilac-fog) solid;
        text-transform: uppercase;
        margin: 15px auto;
    }

    .woocommerce-order {
        max-width: 500px;
        margin: 0 auto 50px;
        padding: 5px 15px;

        .woocommerce-thankyou-order-received {
            text-align: center;
            @include caecilia(true, 25px);
        }
        
        ul.woocommerce-thankyou-order-details {
            list-style: none;
            margin: 0;
            padding: 10px;
            li {
                background-image: none;
                @include caecilia(false, 15px);
                line-height: 25px;
            }
        }

        .woocommerce-order-details {
            @include realtime-semibold(18px);
            text-transform: uppercase;
            border: 1px var(--lilac-fog) dashed;
            padding: 25px;

            h2 {
                color: var(--lilac-fog);
                margin-top: 0;
                letter-spacing: 2px;
                text-align: center;
            }

            .order_details {
                thead th.product-total {
                    text-align: left;
                }

                .product-total {
                    width: 25%;
                }

                .order_item td {
                    padding-top: 15px;
                }

                .order_item td:first-child {
                    padding-right: 30px;
                }
            }
        }
    }


}

@media (min-width: 1024px) {
    #shop-container,
    #product-container,
    #cart-container,
    #checkout-container {
        margin-left: 30vw;
    }

    .small #shop-container,
    .small #product-container,
    .small #cart-container,
    .small #checkout-container {
        margin-left: 20vw;
    }

    .woocommerce-small #top-header-container {
        background-color: var(--lilac-fog);
    }

    #shop-container .product {
        width: 300px;
    }
    
    .product img {
        width: 300px;
    }

    .out {
        width: 300px;
        height: 300px;
    }

    #product-container {
        .product-img-gallery,
        .summary {
            flex-basis: 50%;
            min-width: 0%;
        }
        
        .summary {
            order: 0;
            padding: 10px 20px;
            box-sizing: border-box;
            position: sticky;
            align-self: flex-start;
            top: 0;
        }

        .bottom-add-cart-container {
            display: none;
        }

        .woocommerce-notices-wrapper {
            display: inline-block;
            margin: 10px 20px;
        }
    }

    #cart-container {
        .woocommerce-cart-form {
            padding: 0px 20px;
            margin-top: 30px;
        }

        td.product-thumbnail img {
            width: 75px;
        }

        .coupon {
            justify-content: flex-end;
        }

        .product-name,
        .product-subtotal {
            font-size: 15px;
        }
    }

    .woocommerce-small {
        #top-container {
            z-index: 5;
            background-color: var(--salmon);
        }

        #shop-sidebar-container {
            font-size: 16px;
            margin-top: 50px;
        }
    }
}