@mixin realtime-semibold($font_size: 15px) {
    // Inconsolata!!
    font-family: 'Realtime-Semibold', serif;
    font-size: $font_size;
}

@mixin caecilia($italic, $font_size: 15px) {
    @if $italic {
        font-family: 'CaeciliaLTStd-Italic', sans-serif;
    } @else {
        font-family: 'CaeciliaLTPro-55Roman', sans-serif;
    }
    font-size: $font_size;
}

@mixin charcoal {
    color: #101318;
}

@mixin ac-select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B6C2F1;
    min-height: 30px;
}

@mixin ac-tag($bg_color, $font_color) {
    margin: 0px auto 5px;
    display: inline;
    @include realtime-semibold;
    background-color: $bg_color;
    color: $font_color;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 5px;
    font-size: 10px;
}

@mixin ac-button($hover_color, $bg_options...) {
    @include realtime-semibold;
    letter-spacing: 3px;
    background-size: 300% auto;
    background-position: 100%;
    transition: background-position 0.5s;
    padding: 5px 15px;
    display: inline-block;
    background-image: linear-gradient($bg_options);

    &:hover {
        background-position: 0%;
        color: $hover_color;
    }
}

#shop-container {
    margin-top: 15px;
}

.woocommerce-ordering {
    height: 50px;
}

.woocommerce-ordering select {
    @include realtime-semibold;
    @include charcoal;
    @include ac-select;
    float: right;
    margin: 15px;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-flow: row wrap;
    margin: 15px;
}

#shop-container .product {
    list-style: none;
    width: 300px;
    margin: 0px auto 25px;
    position: relative;
}

.product img {
    margin-bottom: 10px;
}

#flash-container {
    display: flex;
    flex-flow: row wrap;
}

.onsale {
    @include ac-tag(var(--vogue-red), white);
}

.preorder {
    @include ac-tag(var(--egg-yolk), var(--charcoal));
}

.out {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--salmon);
    opacity: 75%;
}

.out span {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include realtime-semibold;
    border: 2px var(--charcoal) solid;
    padding: 10px;
    background-color: white;
}

.woocommerce-loop-product_link {
    min-width: 100%;
    max-width: 100%;
}

.woocommerce-loop-product__title {
    @include realtime-semibold;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.price {
    display: flex;
    flex-flow: row wrap;
    @include realtime-semibold;
    justify-content: center;
}

.price > del, .price > ins, .price > span {
    margin-right: 5px;
}

.price del {
    color: #B6C2F1;
}

.sale .price ins {
    color: var(--vogue-red);
    text-decoration: none;
}

.product .button {
    @include ac-button(white, to left, white 0%, white 40%, var(--egg-yolk) 50%, var(--lilac-fog) 100%);
    border: 1px var(--lilac-fog) solid;
}

.added_to_cart {
    display: none;
}

.cart {
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}

.quantity-increment {
    background-color: white;
    border: none;
    color: var(--lilac-fog);
    font-size: 15px;
}

.qty {
    @include realtime-semibold(15px);
    border: none;
    text-align: center;
    max-width: 30px;
}

.quantity-container {
    position: relative;
    width: 100%;
    height: 25px;
}

.add-cart-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.quantity {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-cart-container button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-cart-container, .quantity-container {
    margin-bottom: 15px;
}

.quantity-increment:hover {
    outline: none;
}

#product-container {
    .product {
        display: flex;
        flex-flow: row wrap;
        padding: 0px 20px;
        margin-top: 20px;
    }

    .product-img-gallery,
    .summary,
    .bottom-add-cart-container,
    .back-to-products {
        flex: 0 1 auto;
    }

    .product-img-gallery,
    .summary,
    .bottom-add-cart-container {
        min-width: 100%;
    }

    .summary {
        order: -1;
    }

    .wp-post-image {
        width: 100%;
        height: auto;
    }

    .product_title {
        text-align: center;
        @include realtime-semibold(35px);
    }

    .woocommerce-product-details__short-description {
        @include caecilia(false);
        // @include realtime-semibold;
    }

    em {
        @include caecilia(true);
        font-style: normal;
    }

    ul {
        padding-left: 10%;
        margin: 0px 10%;
        list-style: none;
    }
    
    ul li {
        background-position: 0% 15%;
        background-repeat: no-repeat;
        background-size: 15px;
        padding-left: 25px;
        vertical-align: middle;
        margin-bottom: 30px;
        letter-spacing: 1px;
        @include caecilia(true);
    }

    .stock.in-stock {
        display: none;
    }

    .stock.out-of-stock {
        @include realtime-semibold;
        color: var(--vogue-red);
        display: block;
    }

    .woocommerce-product-gallery__wrapper {
        margin: 0;
    }

    .back-to-products {
        @include ac-button(black, to left, white 0%, white 40%, var(--vogue-red) 50%);
        border: 2px var(--vogue-red) solid;
        font-size: 10px;
        margin: 0px auto 25px;
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    #shop-container,
    #product-container {
        margin-left: 30vw;
    }

    .small #shop-container,
    .small #product-container {
        margin-left: 20vw;
    }

    #product-container {
        .product-img-gallery,
        .summary {
            flex-basis: 50%;
            min-width: 0%;
        }
        
        .summary {
            order: 0;
            padding: 10px 20px;
            box-sizing: border-box;
            position: sticky;
            align-self: flex-start;
            top: 0;
        }

        .bottom-add-cart-container {
            display: none;
        }
    }
}